*{
    color: #eeeeee;
}

body{
    background-color: #393e46;
}

input, textarea{
    background-color: #222831;
}

.littleblock{
    padding: 5px;
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #222831;
    border: 1px solid lightgray;
}

.comentario{
    padding: 5px;
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #222831;
    border: 1px solid lightgray;
}

.littleblocka{
    background-color: whitesmoke;
    color: #181818;;
}

.bigblock {
    text-align: center;
    margin: auto;
    display: block;
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    background-color: #7289da;
}

.postimg{
    text-align: center;
    display: block;
    float: left;
    padding: 1px;
    border-radius: 20px;
    width: 20%;
    background-color: black;
}
.post{
    text-align: center;
    width: fit-content;
    display: block;
    padding: 15px;
    border-radius: 20px;
}

.topbarblock{
    display: inline-block;
    margin: auto;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    color: #181818;
}

.topbar{
    height: fit-content;
    background-color: #7289da;
    margin-bottom: 15px;
    border-radius: 5px;
}

.imgprofile{
    display: block;
    margin: auto;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
}

.pagination {
    display: inline-block;
    margin: auto;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: fit-content;
    border: 1px solid lightgray;
    background-color: #222831;
}

.icon{
    text-decoration: none;
    margin-left: 300;
}